.menu-button {
    -fx-background-color: black;
    -fx-max-width: 600;
    -fx-pref-height: 120;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-font-size: 24;
}

.menu-button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.my-radio {
    -fx-background-color: black;
    -fx-max-width: 200;
    -fx-pref-height: 120;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-text-alignment: center;
}

.my-radio:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.my-radio > .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0.0em; /* 4 8 4 8 */
}
.radio-button:selected > .radio > .dot {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: white;
    -fx-max-width: 600;
    -fx-pref-height: 120;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-text-fill: black;
    -fx-font-size: 24;
    -fx-text-alignment: center;
}

.table-row-cell: highlighted {
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-background-radius: 3px;
    -fx-background-insets: 2px;
}
.table-row-cell: highlighted .text {
    -fx-fill: white;
}
